<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

<div id="root">
    <form action="" @submit.prevent="demo">
        <label for="demo1">账号：</label>
        <input type="text" id="demo1" v-model.trim="userinfo.account">
        <br>
        <label for="demo2">密码：</label>
        <input type="text" id="demo2" v-model="userinfo.password">
        <br>
        年龄： <input type="number" v-model.number="userinfo.age">
        性别：
        男 <input type="radio" name="sex" v-model="userinfo.sex" value="male">
        女 <input type="radio" name="sex" v-model="userinfo.sex" value="female">
        <br><br>
        爱好：
        学习 <input type="checkbox" v-model="userinfo.hobby" value="study">
        打游戏 <input type="checkbox" v-model="userinfo.hobby" value="games">
        吃饭 <input type="checkbox" v-model="userinfo.hobby" value="eat">
        <br><br>
        所有校区
        <select v-model="userinfo.city">
            <option value="">请选择校区</option>
            <option value="beijing">北京校区</option>
            <option value="shanghai">上海校区</option>
            <option value="shenzhen">深圳校区</option>
            <option value="wuhan">武汉校区</option>
        </select>

        <br><br>
        其他信息：
        <textarea name="" id="" cols="30" rows="10" v-model="userinfo.other"></textarea>
        <br> <br>
        <input type="checkbox" v-model="userinfo.agree">阅读并接受 <a href="">《用户协议》</a>
        <br><br>
        <button>提交</button>
    </form>
</div>


<script type="text/javascript">
    Vue.config.productionTip = false;

    new Vue({
        el:'#root',
        data:{
            userinfo:{
                account:'',
                password:'',
                age:'',
                sex:'',
                hobby:[],
                city:'',
                other:'',
                agree:'',
            }
        },
        methods:{
            demo(){
                console.log(JSON.stringify(this._data))
            }
        }
    })

</script>
</body>
</html>